<tr>
  <td>
    <%= image_tag product_id.image.tiny %>
  </td>
  <td>
    <h4><%= product_id.name %></h4>
    <br>
    <p><%= product_id.description %></p>
  </td>
  <td>
    <%= product_id.category.name %>
  </td>
  <td>
    <%= product_id.price %>
  </td>
  <td>
    <%= product_id.quantity %>
  </td>
</tr>